@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Slabo+27px');
@import url('../fonts/font-awesome/css/font-awesome.css');
body {
    margin: 0;
    padding: 0;
    margin-bottom: 
}
.header {
   height: 800px;
	background: url(../image/IMG-89542.jpg) no-repeat center center fixed;
	background-size: cover;
}
#header {
    text-align: center;
    color: white;
    padding-top: 20px;
    
}

#navbar {
    padding-left: 0;
}
p, span, form {
    font-size: 17px;
}
h1 {
   margin: 0;
    padding: 0;
    padding-bottom: 4px;
    text-align: center;
    font-weight: 400px;
    font-family: 'Pacifico', cursive;
    line-height: 90px;
    color: white;
    letter-spacing: 2px;
    word-spacing: 6px;
    font-size: 55px;
}
.h11 {
    background: url(../image/IMG-8559.JPG) no-repeat center center fixed;
    background-size: cover;
    height: auto;
    padding-left: 400px;
}
#h1 {
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-size: 38px;
    font-family: 'Dancing Script', cursive;
}
#tsigu {
    padding: 3px;
    vertical-align: baseline;
    background: transparent;
    text-align: left;
    
}
.tsigu {
    text-align: left;
}
#border {
    border: solid 0.5px black;
}
.facetwitt {
    display: block;
    margin: 15px;
}
.divs {
    display: block;
}
.pics {
    margin: 13px;
    margin-right: 0;
    border: solid 2px black;
}

ul li {
    font-size: 17px;
    padding: 3px;
}
ul {
  margin: 0;
}
ul.nobullet {
  list-style-type: none;
}
ul.nobullet > li {
  text-indent: 0;
}
ul.nobullet > li:before {
  content: "– ";
  display: inline-block;
    width: 20px;
    margin: 0 0 0 -20px;
}
ul.nobullet {
    text-align: left; 
    padding: 0;
}
footer {
    width: 100%; 
    position: fixed;
    left: 0;
    bottom: 0;
    border: solid 1px black;
    text-align: center;
    background: black; 
    color: white; 
    padding-left: 100px;
}
@media (max-width: 768px) {
    .facetwitt {
        display: inline-block;
        margin: 3px;
    }
    .header {
   height: 580px;
	background: url(../image/IMG-89542.jpg) no-repeat center center fixed;
	background-size: cover;
        width: 100%;
}
    body {
        margin: 0;
        padding: 0;
    }
    .h11 {
    padding-left: 0;
}
}
